.vs
.vscode/*
!.vscode/c_cpp_properties.json
*.code-workspace
build/
/vcpkg_installed
scripts/out/
.xmake
vsxmake2022
CppProperties.json
meta.ini
*.rar
*.zip
*.7z
*.esp
*.sublime-project
*.sublime-workspace
*.bsa
*.slr
*.dll
*.pdb
*.pex

.env*
!.env.example
dist/SexLab.esm
SexLab.ppj
